body {
    font-family: 'Verdana', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .player-card {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.3s;
    background-color: #fff;
    color: #fff;
    position: relative;
  }
  
  .player-card.brown {
    background-color: #a52a2a;
  }
  
  .player-card.blue {
    background-color: #0000ff;
  }
  
  .player-card.orange {
    background-color: #ffa500;
  }
  
  .player-card.red {
    background-color: #ff0000;
  }
  
  .player-card.yellow {
    background-color: #ffff00;
    color: #000;
  }
  
  .player-card:hover {
    transform: rotateY(180deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
  
  .player-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
  }
  
  .player-info {
    padding: 16px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
  }
  
  .player-name {
    font-size: 1.5em;
    margin: 16px 0 8px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .player-position {
    font-size: 1em;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .player-stats {
    text-align: left;
  }
  
  .player-stats p {
    margin: 4px 0;
    font-size: 1em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .player-card {
      max-width: 100%;
    }
  
    .player-name {
      font-size: 1.2em;
    }
  
    .player-position {
      font-size: 0.9em;
    }
  
    .player-stats p {
      font-size: 0.9em;
    }
  }